{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <canvas id="myChart" width="800" height="400"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in categories %}"{{ item }}",{% endfor %}],
                datasets: [
                    {
                        label: 'Borrow Revenue',
                        data: [{% for item in borrows %}{{ item }}, {% endfor %}],
                        borderWidth: 1
                    },
                    {
                        label: 'Purchase Revenue',
                        data: [{% for item in purchases %}{{ item }}, {% endfor %}],
                        borderWidth: 1
                    },
                    {
                        label: 'Total Revenue',
                        data: [{% for item in totals %}{{ item }}, {% endfor %}],
                        {#backgroundColor: 'rgba(75, 192, 192, 0.2)',#}
                        {#borderColor: 'rgba(75, 192, 192, 1)',#}
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock content %}